{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "interactable": "Unset",
    "player": "Unset",
    "glass": "Unset",
    "debris": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player"
    },
    {
      "a": "ladder",
      "b": "player"
    },
    {
      "a": "interactable",
      "b": "interactable",
      "r": "Collide"
    },
    {
      "a": "interactable",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "player"
    },
    {
      "a": "player",
      "b": "glass",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "glass",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "glass"
    },
    {
      "a": "solid",
      "b": "debris",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "glass",
      "b": "debris",
      "r": "Trigger"
    }
  ],
  "__guid": "5c27cfef-b810-46a0-81a8-23069e4fad90",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}